[submodule "mucithane-ksr"]
	path = src/mucithane-ksr
	url = https://github.com/abdulmelikbekmez/mucithane-ksr
	branch = master
[submodule "src/crazyswarm2"]
	path = src/crazyswarm2
	url = https://github.com/IMRCLab/crazyswarm2
    branch = master
[submodule "src/motion_capture_tracking"]
	path = src/motion_capture_tracking
	url = https://github.com/IMRCLab/motion_capture_tracking.git
	branch = ros2
